body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #014AAC;
}

header .logo img {
    height: 80px;
    width: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #014AAC;
}

.contact-section {
    background: white;
    padding: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 8px;
}

.contact-section h1, 
.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-details .info {
    flex: 1;
}

.contact-details .info h3 {
    color: #004080;
}

.contact-details .form {
    flex: 1;
}

.contact-details form input, 
.contact-details form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-details form button {
    width: 100%;
    padding: 10px;
    background-color: #014AAC;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-details form button:hover {
    background-color: #002a5e;
}

.hidden {
    display: none;
}

.footer {
    background-color: #014AAC;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 5px 0;
}
